

.kanban-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
  
}

.kanban-column {
    flex: 0 0 350px;
    background: rgb(239, 231, 218);
    border-radius: 16px;
    padding: 1.5rem;
    height: fit-content;
    min-height: 250px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.kanban-column[data-status="todo"] {
    background-color: var(--pink-accent);
}

.kanban-column[data-status="in-progress"] {
    background-color: var(--yellow-accent);
}

.kanban-column[data-status="review"] {
    background-color: var(--blue-accent);
}

.kanban-column[data-status="done"] {
    background-color: var(--green-accent);
}

.kanban-column h3 {
    margin: 0 0 1rem;
    padding-bottom: 0.5rem;
}

.add-task-btn {
   margin-left: 1rem;
   width: 12rem;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.task-card {
    background: rgb(255, 246, 247);
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: grab;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.task-card:active {
    cursor: grabbing;
}

.task-card h4 {
    margin: 0;
    word-break: break-word;
}

.task-card p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
    word-break: break-word;
    flex-grow: 1;
}

.edit-button-png {
    position: absolute;
    top: 0.4em;
    right: 0.25rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    height: 18px;
}

.edit-button-png:hover {
    transform: scale(1.1);
}

.task-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-top: auto;
}

.priority-high,
.priority-medium,
.priority-low {
    color: rgb(255, 246, 247);
    background-color: rgba(17, 17, 17, 0.8);
    border-radius: 14px;
    padding: 10px;
}



@media (max-width: 1200px) {
    .kanban-board {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .kanban-board {
        grid-template-columns: 1fr;
    }

    .kanban-column {
        width: 100%;
    }
}