
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    position: fixed;
    top: 86%;
    width: 50%;
    height: 20px;
}

.repo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Gugi', sans-serif;
    font-size: 0.8rem;
    color: var(--text-light);    
}
.logo-footer {
    height: 25px;

}

